body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7f4;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container {
    width: 90%;
    max-width: 900px;
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-back, .btn-forward  {
    display: inline-block;
    padding: 10px 20px;
    background-color: #77aaff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
    width: 100px;
}

.btn-back{
    margin-right: 1em;
}

.btn-back:hover, .btn-forward:hover {
    background-color: #5599dd;
    transform: translateY(-5px);
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .container {
        width: 85%; /* Reduce un poco el ancho */
        max-width: 600px; /* Para que no crezca demasiado */
        padding: 20px;
        margin: 40px auto; /* Espacio arriba/abajo y centra horizontalmente */
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .image {
        max-width: 100%;
    }

    .btn-back, .btn-forward {
        padding: 10px 15px;
        font-size: 1em;
    }
}
